
<div class="jumbotron" style="background-image: url(https://images.wallpaperscraft.ru/image/zheleznaya_doroga_poezd_gory_zima_118617_1920x1080.jpg); margin-top: 7%">
  <h1 class="display-4" style="color: white">Привет, пользователь!</h1>
  <p class="lead" style="color: white">Этот сайт позволяет:<br>
  1- добавлять и удолять поезда<br>
  2- строить маршруты из разных городов<br>
  и многое другое</p>
  <hr class="my-4">
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/tickets" role="button">Начать!</a>
  </p> 
</div>
