<h4 style="margin-left: 17%; margin-top: 1%">Добавление поезда</h4>

<% if @errors %>
  <div class="alert alert-warning">
  <% @errors.each do |error|%>
    <%= error %><br>
  <% end%>
  </div>
<% end %>

<form method="post" style="margin-top: 2%">
  <div class="form-group row" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Номер поезда:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="number" name="number" placeholder="104" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Город отправления:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="from" name="from" placeholder="Ярославль" required>
    </div>
  </div>

    <div class="form-group row" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Город прибытия:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="to" name="to" placeholder="Мосвка" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Дата отправления:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="d_date" name="d_date" placeholder="04.5" required>
    </div>
  </div>
  
    <div class="form-group row" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Дата прибытия:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="a_date" name="a_date" placeholder="05.5" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Время отправления:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="d_time" name="d_time" placeholder="15:10" required>
    </div>
  </div>

    <div class="form-group row" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Время прибытия:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="a_time" name="a_time" placeholder="19:00" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Цена:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="price" name="price" placeholder="800" required>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary" style="margin-left: 88%"> Добавить</button>
</form>